Chat Bot Sistem Manajemen Gudang.json
{
  "name": "Chat Bot Sistem Manajemen Gudang",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "68c48bcf-de97-4356-942f-1d1050828519",
      "name": "When chat message received",
      "webhookId": "5fe0eba0-5c3f-4137-9a74-5c0efe41c532"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Anda adalah chatbot layanan Sistem Manajemen Gudang\n\nTugas Anda:\n- Menjawab pertanyaan tentang Sistem manajemen gudang.\n- Menjelaskan Fungsi sistem manajemen gudang\n\nAturan:\n- Jawaban harus jelas, singkat, dan informatif\n- Gunakan bahasa Indonesia yang mudah dipahami\n- Jika tidak tahu, katakan dengan jujur"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "a87bac4a-1d34-46b6-8952-b63188a2f37f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        208
      ],
      "id": "deb1ee7e-085b-4ec6-9c1e-cc1949e913aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vI1rCxVbcAHWTKsF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "ae0251de-80de-4364-98b2-06b0c3f160b2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{$json[\"output\"]}}",
        "options": {
          "memoryConnection": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "09c15c2e-4d7d-40b2-b5b7-70e2e75abbc9",
      "name": "Chat",
      "webhookId": "794808f2-c505-446a-9062-b316752e27bf"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "756a7aaf-7d8f-43de-9bb8-914db0c0e9ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b474f3d7a052a670d7ecaaf20101c50a49e90bfbefa6cd7ff2f531cd8142dbb"
  },
  "id": "QoQxQ4aCWYseqo0c",
  "tags": []
}