Chatbot With Tools Fajar Muhamad.json
{
  "name": "Chatbot With Tools Fajar Muhamad",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Fajar. How can I assist you today?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -80,
        32
      ],
      "id": "42ae5530-8336-408c-b335-9a0d9dc40413",
      "name": "When chat message received",
      "webhookId": "e4d64860-8acc-4091-bc07-11345f318d00"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Anda adalah chatbot penjualan produk pelatihan IT.\n\nTugas Anda:\n- Menjawab pertanyaan tentang produk dan harga\n- Menggunakan data dari Google Sheets\n\nInstruksi:\n- Gunakan tool Google Sheets untuk mencari data produk\n- Jika user bertanya harga produk, cari di data\n- Tampilkan nama produk, harga, dan deskripsi\n\nFormat jawaban:\nNama Produk: ...\nHarga: ...\nDeskripsi: ...\n\nJika produk tidak ditemukan:\nKatakan bahwa produk tidak tersedia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        16
      ],
      "id": "834f2c10-1152-43ef-9129-834fa426915e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        224
      ],
      "id": "4a12aa3c-cb1c-4d15-8d3a-bda35f9a2fa2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vI1rCxVbcAHWTKsF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        224
      ],
      "id": "bc813ce2-cb7a-45dd-9196-6eee95670320",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1As0nlLkg4aB2jHGmDGjI6pD7vpOP87dOIYezyRINTEg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1As0nlLkg4aB2jHGmDGjI6pD7vpOP87dOIYezyRINTEg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        304,
        224
      ],
      "id": "f8d7c5cd-bf5e-44af-a010-90ffa27f3d13",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "epEqIpcrHAtxpQej",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{$json[\"output\"]}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        496,
        16
      ],
      "id": "52db0da8-41a8-4db2-a289-f6283dc4255f",
      "name": "Chat",
      "webhookId": "2b5e9241-8a83-4cae-a671-ebca22853dcb"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4de55500-1080-409a-aa92-cac713670a99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b474f3d7a052a670d7ecaaf20101c50a49e90bfbefa6cd7ff2f531cd8142dbb"
  },
  "id": "LXhPo0ErXFuucbNA",
  "tags": []
}